<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
    <h1>Owners</h1>
    <table id="owners" class="table table-striped">
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
            <th style="width: 150px;">Vist Desc</th>
        </tr>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.getId()}">1</td>
            <td th:text="${owner.getFirstName()}">first name </td>
            <td th:text="${owner.getLastName()}">last name</td>
        </tr>
    </table>
</body>
</html>